[workspace]
resolver = "2"
members = [
    "libc",
    "init",
    "sh",
]

[workspace.package]
edition = "2021"
version = "0.1.0"

[profile.release]
opt-level = "s"
lto = true
panic = "abort"
strip = "symbols"

[profile.dev]
panic = "abort"
